* {
  border:0;
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline:none;
}

@font-face {font-family: "BMWTypeNext Pro"; src: 
  url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot"); 
  src: url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")
  format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf") 
  format("truetype"), url("//db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro")
  format("svg"); }


a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.preview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 5px;
    grid-auto-flow: row;
}

.preview_img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    background-image: url(../images/bmw_7_g70.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 44%;
    overflow: hidden;
}

.preview_bmw5 {
  position: absolute;
  left: 0;
  top: 40%;
}

.preview_img5 {
  position:relative;
  width: 100%;
  padding-top: 45%;
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../images/bmw_5g30.jpg);
  background-size: cover;
  background-position: center center;
}

.preview_img3 {
  position: relative;
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url(../images/bmw_3.jpg);
  height: auto;
  background-size: cover;
  background-position: center center;
}

.preview_bmw3 {
  position: absolute;
  top:0;
  left: 5px;
}

.header {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    
}

.menu-btn {
  display: none;
}


.menu-icon {
  fill:#fff;
  height: 40px;
  width: 40px;
}

.header_div {
   width: 100%;
   padding: 0 7% 0 7%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(#000, hsla(0, 0%, 100%, 0))
}




.logo {
  width: 100%;
  max-width: 40px;
  transition: 1.5s;
}

.logo:hover {
  transform: rotate(360deg);
}

.list_menu {
  font: 600 16px/14px  Verdana, Arial, sans-serif;
  color: #cacaca;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}

.link_menu {
    color: #cacaca;
}

.link_menu:hover {
  color:#fff;
}

.svg_electro:hover {
    fill: #fff;
}

.input_menu {
  padding: 20px 0 20px 40px;
}

.svg_contact {
  height: 20px;
  fill:#cacaca;
  padding-left: 15px;
}

.svg_contact:hover {
  fill: #fff;
}

.tagline {
  position: absolute;
  top: 12%;
  right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  z-index: 8;
}

.am_fahren {
  font-family: Cursive, Arial, sans-serif;
  font-weight: 100;
}

.list_electro {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  z-index: 5;
}

.item_electro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_electro {
  width: 100%;
}

.svg_electro {
  height: 8px;
  fill:#cacaca;
  padding-left: 5px;
  transition: .3s;
}

.rotate {
  transform: rotate(180deg);
}

.link_electro {
  display: inline-block;
  font: 600 22px/22px Verdana, Arial, Sans-serif;
  color: #000;
  padding-bottom: 5px;
}

.link_electro:hover {
  color:rgb(27, 252, 15);
}

.hidden {
  display: none;
}

.preview_bmw7 {
  width: max-content;
  position: absolute;
  top: 14%;
  left: 1%;
  z-index: 3;
}

.span_luxury {
  display:inline-block;
  font: 400 46px/46px  Arial, Verdana, Sans-serif; 
  color:#fff;
}

.span_luxury_small{
  display: inline-block;
  font: 400 36px/36px Consolas, Arial, Sans-serif; 
  color:#fff;
}
.span_sedan {
  display: inline-block;
  font: 400 23px/23px Helvetica, Arial, Sans-serif;
  color:#fff;
  padding: 3px 0 15px 0;
}

.the7 {
  display: none;
}

.span_sedan_small {
  display: inline-block;
  font: 400 18px/18px Helvetica, Arial, Sans-serif;
  color:#fff;
  padding: 3px 0 15px 0;
}

.link_transition, .link_test-drive {
  display: inline-block;
  padding: 10px 30px;
  background-color: #1b57ac;
  font: 600 14px/14px Helvetica, Arial, Sans-serif; 
  color: #fff;
  border: #1b57ac solid 2px;
  border-radius: 3px;
}

.link_test-drive {
  background: 0;
  border-color: #fff;
  padding: 10px 25px;
}

.link_test-drive:hover {
  opacity: 0.5;
}

.link_transition:hover {
  background: #1d519a;
  border-color:#1d519a ;
}

.models {
  width:100%;
  padding: 20px 5%;
  margin: 20px 0 20px;
}

.model_box {
  width: 100%;
  margin-top: 20px;
}

.list_models{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.list_models-name {
  font: 400 24px/24px Verdana, Arial, Sans-serif;
  display: block;
  padding: 5px 0 5px;
  background: #ececec;
}

.item_model {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.model_name {
  font: 600 20px/20px Verdana, Helvetica, Sans-serif;
  padding-bottom: 7px;
}

.model_description {
  font:100 16px/16px Courier, Helvetica, Sans-serif;
  padding-bottom: 5px;
}

.model_link {
  font: 800 14px/14px Helvetica, Arial, Sans-serif;
  padding-top: 7px;
  color: #000;
  transition: .5s;
}

.model_link:hover {
  color: #1b57ac;
}





.container_slider{
  position: relative;
	margin: 40px auto;
  width: 100%;
	overflow:hidden;
  padding-top: 34.5%;
}
.slider_img{
	position: absolute;
	animation: round 20s infinite;
	opacity:0;
  width:100%;
  top:0;
  left:0;
}

.power{
  width: 100%;
}

@keyframes round {
  25%{opacity:1}
  40%{opacity:0}
}

.slider_img:nth-child(1){
  animation-delay: 0}

.slider_img:nth-child(2){
  animation-delay: 15s}

.slider_img:nth-child(3){
  animation-delay: 10s}

.slider_img:nth-child(4){
  animation-delay: 5s;
}

.container_text {
  position:absolute;
  top: 13%;
  left:8%;
}

.text_slider {
  font: 100 33px/33px Arial, Verdana, Sans-serif;
  font-size: xx-large;
  color:#fff;
}

.text2_slider {
  font: 100 20px/20px Helvetica, Arial, Sans-serif;
  color:#fff;
  margin-top: 10px;
}









.section_footer {
  background-color: #8e8e8e;
  width: 100%;
  padding-bottom: 40px;
}

.container_svg {
  margin: 0 7% 0 7%;
  padding: 30px 0 30px 0;
  width: 80%;
  display:flex;
  justify-content: end;
  align-items: center;
  border-bottom: #666 solid 1px;
  }

.svg_footer {
  height: 25px;
  fill: #666;
}

.container_contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  padding: 0 2%;
}

.box1 {
  padding: 20px 0 20px 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.box2 {
  padding: 20px 0 20px 0;
  grid-column: 2/2;
  grid-row: 1/2;
}

.footer_span {
  font: 100 20px/14px Helvetica, Arial, Sans-serif;
  color:#403e3e;

}

.link_footer {
  color: #666666;
  font: 800 14px/14px Helvetica, Arial, Sans-serif;
  padding-bottom: 5px;
}

.link_footer:hover {
  color:#403e3e;
}

.bmw2023 {
  padding: 10px 0 10px 30px;
  display: inline-block;
  font: 400 20px/14px Arial, Sans-serif;
}



@media screen and (max-width: 840px) {

  .list_menu {
    font: 600 13px/13px  Verdana, Arial, sans-serif;
    padding: 15px 0 15px 0;
  }

  .input_menu {
    padding: 10px 0 10px 20px;
  }

  .preview_img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    background-image: url(../images/840px/bmw_7_g70-840.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 58%;
    overflow: hidden;
  }

  .link_transition, .link_test-drive {
    display: inline-block;
    padding: 5px 13px;
    background-color: #1b57ac;
    font: 600 12px/12px Helvetica, Arial, Sans-serif;
    color: #fff;
    border: #1b57ac solid 2px;
    border-radius: 3px;
}

.link_test-drive {
  background: 0;
  border-color: #fff;
  padding: 5px 8px;
}

  .span_luxury {
    display: inline-block;
    font: 400 30px/30px  Arial, Verdana, Sans-serif;
    color: #fff;
  }

  .span_sedan {
    display: inline-block;
    font: 400 14px/14px Helvetica, Arial, Sans-serif;
    color: #fff;
    padding: 3px 0 6px 0;
}

.tagline {
  position: absolute;
  top: 8%;
  right: 2%;
  font: 200 20px/20px Arial, Helvetica, sans-serif;
  color: #fff;
  z-index: 3;
}

.list_electro {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  z-index: 5;
  left: 0;
  top: 51px;
}

.hidden {
  display: none;
}

.preview_bmw7 {
  width: max-content;
  position: absolute;
  top: 8%;
  left: 1%;
  z-index: 3;
}

.span_luxury_small {
  display: inline-block;
  font: 400 26px/26px Consolas, Arial, Sans-serif;
  color: #fff;
}
  
.span_sedan_small {
  display: inline-block;
  font: 400 14px/14px Helvetica, Arial, Sans-serif;
  color: #fff;
  padding: 3px 0 4px 0;
}


  .preview_img5 {
    padding-top: 63%;
    background-image: url(../images/840px/bmw_5g30-840.jpg);

}

.preview_img3 {
  background-image: url(../images/840px/bmw_3-840.jpg);
}

.preview_bmw5 {
  position: absolute;
  left: 0;
  top: 4%;
}




.text_slider {
  font: 100 22px/22px Arial, Verdana, Sans-serif;
  color: #fff;
}

.text2_slider {
  font: 100 14px/14px Helvetica, Arial, Sans-serif;
  color: #fff;
  margin-top: 10px;
}
}
  

@media screen and (max-width: 630px) {

  
  

  .list_menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 20px;
  }

  .burger-menu {
    width: 100vw;
    height: 100vw;
    background: #4c4a4a;
    position:absolute;
    z-index: 7;
    left:0;
    top:0;
  }
  
  .list_electro {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    flex-wrap: wrap;
    z-index: 8;
    left: 154px;
    top: 0;
    width: 27%;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 9;
  }
   
  .link_home {
    margin: 1% 0 0 41%
  }
    
  .hidden-menu {
    display: none;
   }
  

    .hidden {
    display: none;
  }

  .preview_img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: auto;
  }

  .preview_img5 {
    position: relative;
    width: 100%;
    padding-top: 75%;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .preview_img3 {
    padding-top:75%;
    position: relative;
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  

  .span_sedan_small, .span_sedan, .tagline, .span_luxury {
    display: none;
  }

.link_home {
  display:inline-block;
  height: 30px;
}

.svg_contact {
  height: 17px;
}


.the7 {
  display: inline-block;
  font: 400 26px/26px Consolas, Arial, Sans-serif;
  color: #fff;
}

.preview_bmw7 {
  top: 14%;
  left: 1%;
}

.logo {
  height: 30px;
}

.menu-icon:hover {
  fill: rgb(64, 102, 219);
}
}