


.content_bmw7 {
    font: 100 16px/24px BMWTypeNext Pro, Arial, Sans-serif;
}

.preview_image {
  width: 100%;
}

.titlebmw {
  text-align: center;
  font: 100 48px/48px BMWTypeNext Pro, Verdana, Sans-serif;
  margin: 0 auto;
  padding: 40px 7%;
}

.text_content {
  padding: 0 7%;
}

.list_bmw7 {
  list-style-type: disc;
  padding: 0 9%;
}

.bmw_exterior {
  width: 100%;
}

.container_exterior {
  width: 100%;
  padding: 0 7%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  
}

.inbox_bmw {
  max-width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini_img {
  width: 100%;
}
  
.title_mini {
  display:inline-block;
  font: 100 24px/30px BMWTypeNext Pro, Verdana, Sans-serif;
  padding: 9% 0;
}

.description_ext {
  width: 80%;
}



